<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
<body>
  {% block header %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">My Scrumy</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'ucheokeke16scrumy:home' %}">Home</a></li>
        <li></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'ucheokeke16scrumy:index' %}""><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
        {% if user.is_authenticated %}
        <h2><a href="{% url 'ucheokeke16scrumy:logout' %}">Logout</a></h2>
        {% else %}
        <li><a href="{% url 'ucheokeke16scrumy:login' %}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 ">{% block content %}{% endblock %}</div>
    </div>
    {% block footer %}<footer><p></p></footer>{% endblock %}
  </div>
  
</body>
</html>