.container{
  width: 50%;
  margin: auto;
  line-height: 30px;
  font-size: large;
  /* text-align: center; */               
}

input{
  width: 70%;
  padding:5px;

}
input[type="submit"]{
  background-color: #5cb85c;
  color: #fff;
  font-size: large;
  border: none;
  margin-left: 4px;
  outline: none;
  cursor: pointer;
}

.main {
    width: 80%;
    margin: auto;
  }
  p{
    width: 90%;
    margin: auto;
  }
  table {
    width: 90%;
    margin: auto;
    /* background-color: sandybrown; #f2f2f2 */
  }
  td,th{padding:7px}
  tr:nth-child(even) {background-color: #f2f2f2;}

footer {
    text-align: center;
}
.user-profile{
    text-align: right;
}
.select_box {
  width: 70%;
  margin: auto;
  border-radius: 3px;
  height: 35px;
  outline: none;
}