{% extends "base.html" %}

{% block content %}

<div class="container">
    {% if form.errors %} <p style="color: red;"><strong>Incorrect Username/Password! Please try again</strong></p>{% endif %}
<h2>Login</h2>

<form method="POST" action="">
    {% csrf_token %}
  <label for="username">Username</label><br>
  <input type="text" name="username"><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"><br><br>
  <input type="submit" name="submit" value="Login">
</form> 
<p>Dont have an account? <a href="{% url 'ucheokeke16scrumy:index' %}"> Create Account</a></p>
</div>


{% endblock %}