{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Add Goal</h1><br>
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="goal_name" class="col-xs-2">Goal name: </label> 
        <div class="col-xs-6">
            {{add_goal_form.goal_name}}
        </div>      
        <br><br>   
    </div>
      <div class="form-group">
        <label for="user" class="col-xs-2">User:</label>
        <div class="col-xs-6">
            {{add_goal_form.user}}
        </div>
        
      </div>

      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Add Goal</button>
        </div>
      </div>
</form>

{% endblock %}