{% extends "base.html" %}
{% block content %}

<div class="main">
  <div class="user-profile">
    <!-- <img src="https://img.icons8.com/android/24/000000/user.png"/> -->
    <h2>
      <span class="glyphicon glyphicon-user"></span>
      Hey, <span style="color: green;">{{current_user}}</span>!</h2>
    <h4>You are logged in as {{user_group}}</h4>
  </div>

  <div class="messages">
    {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
      {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success" role="alert">
        {{message}}
      </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="alert alert-info" role="alert">
      {{message}}
    </div>
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <div class="alert alert-warning" role="alert">
    {{message}}
  </div>
{% endif %}
    {% endfor %}
    {% endif %}
  </div>


<table border="1">
  <!-- <caption style="caption-side:top;"><h1>My Scrumy </h1></caption> -->
    <tr>
      <th>User</th>
      <th>Weekly Goals</th>
      <th>Daily Goals</th>
      <th>Verify Goals</th>
      <th>Done Goals</th>
    </tr>
  {% for user in users %}
    <tr>
      <td>{{ user }}</td>    
      <td>
        {% for i in user.scrumy_goals_user_set.all %}
          {% if i.goal_status == weekly_goal %}
          <div>{{i.goal_name}} {{ i.goal_id }}</div>
          <a href="{% url 'ucheokeke16scrumy:move_goal' i.goal_id %}">move goal</a>
          {% endif %}
        {% endfor %}
      </td>

      <td>
        {% for i in user.scrumy_goals_user_set.all %}
          {% if i.goal_status == daily_goal %}
          <div>{{i.goal_name}} {{ i.goal_id }}</div>
          <a href="{% url 'ucheokeke16scrumy:move_goal' i.goal_id %}">move goal</a>
          {% endif %}
        {% endfor %}
      </td>

      <td>
        {% for i in user.scrumy_goals_user_set.all %}
          {% if i.goal_status == verify_goal %}
          <div>{{i.goal_name}} {{ i.goal_id }}</div>
          <a href="{% url 'ucheokeke16scrumy:move_goal' i.goal_id  %}">move goal</a>
          {% endif %}
        {% endfor %}
      </td>

      <td>
        {% for i in user.scrumy_goals_user_set.all %}
          {% if i.goal_status == done_goal %}
           <div>{{i.goal_name}} {{ i.goal_id }}</div>
           <a href="{% url 'ucheokeke16scrumy:move_goal' i.goal_id %}">move goal</a>
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {%endfor%}
</table>
<br>
<h3 style="width: 90%;margin: auto;"><a href="{% url 'ucheokeke16scrumy:add_goal' %}">Add Goal</a></h3>
<br><br>
</div> <!-- End of main -->
{% endblock %}
