{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>Signup Form</h2>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
      <div class="form-group">
        <label class="control-label col-sm-2" for="first_name">First name:</label>
        <div class="col-sm-10">
            {{form.first_name}}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Last name:</label>
        <div class="col-sm-10">          
             {{form.last_name}}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Email:</label>
        <div class="col-sm-10">          
             {{form.email}}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Username:</label>
        <div class="col-sm-10">          
             {{form.username}}
        </div>
      </div>
       
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">          
            {{form.password}} <br>
            <small class="form-text text-muted">(Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only)</small>
        </div>    
      </div>

      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Sign Up</button>
          <span>Already have an account? <a href="{% url 'ucheokeke16scrumy:login' %}"> Login</a></span>
        </div>
      </div>
    </form>
  </div>


{% endblock %}