{% extends "base.html" %}
{% block content %}

<div class="messages">
  {% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
  <div class="alert alert-info" role="alert">
    {{message}}
  </div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<div class="alert alert-warning" role="alert">
  {{message}}
</div>
{% endif %}
  {% endfor %}
  {% endif %}
</div>

<h3>Move Goal from {{ obj.goal_status }} To: </h3><hr>
<form action="" method="post" >
    {% csrf_token %}
    <div class="form-group">
      <label for="user">Status name: </label>
        {{form.status_name}}
    </div>  
    <button type="submit" class="btn btn-success">Move Goal</button>

</form>

<p><a href="{% url 'ucheokeke16scrumy:home' %}">Go Back Home</a></p>

{% endblock %}